<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discogs to Spotify</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <style>
        .htmx-indicator {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .htmx-request .htmx-indicator {
            opacity: 1;
        }
    </style>
</head>

<body class="bg-gray-200 p-10">
    <div class="max-w-xl mx-auto">
        <h1 class="text-3xl mb-5 text-center">Discogs to Spotify</h1>
        <div>
            <form hx-post="/playlist" hx-target="#results" hx-indicator=".htmx-indicator">
                <div class="flex items-center mb-4">
                    <label for="discogs_username" class="sr-only">Discogs Username</label>
                    <input id="discogs_username" name="discogs_username" type="text" class="p-2 border rounded-l w-full"
                        placeholder="Enter your Discogs username" required>
                    <button type="submit" class="p-2 bg-blue-500 text-white rounded-r ml-2 disabled:bg-gray-400 disabled:cursor-not-allowed" onclick="hideCards()"
                        id="submit-button">Submit</button>
                    <script>
                    </script>
                </div>
            </form>
            <div class="my-2 htmx-indicator">Loading...</div>

            <!-- Results/Error Card -->
            <div id="results" class="flex justify-center">
                <!-- Default empty state -->
                <div id="error-card"
                    class="hidden max-w-sm w-full bg-red-100 text-red-700 p-5 rounded-lg shadow-md mt-4">
                    <h2 class="text-xl font-semibold">Error</h2>
                    <p id="error-message" class="mt-2">There was an issue fetching the playlist from Discogs. Please try
                        again.</p>
                </div>

                <!-- Playlist Card -->
                <div id="playlist-card" class="hidden max-w-md w-full bg-white p-5 rounded-lg shadow-md mt-4">
                    <h2 class="text-xl font-semibold">Playlist Created</h2>
                    <p class="mt-2"><strong>Discogs Releases:</strong> <span id="discogs-releases"></span></p>
                    <p class="mt-2"><strong>Spotify Albums:</strong> <span id="spotify-albums"></span></p>
                    <p class="mt-2"><strong>Playlist URL:</strong> <a id="playlist-url" href="#" target="_blank"
                            class="text-blue-500 underline">Open in Spotify</a></p>
                </div>
            </div>
            <script>
                function hideCards() {
                    document.getElementById('error-card').classList.add('hidden');
                    document.getElementById('playlist-card').classList.add('hidden');
                }

                document.addEventListener('htmx:configRequest', function (event) {
                    document.getElementById('submit-button').disabled = true;
                });
                document.addEventListener('htmx:afterRequest', function (event) {
                    document.getElementById('submit-button').disabled = false;
                });

                document.addEventListener('htmx:responseError', function (event) {
                    const errorResponse = JSON.parse(event.detail.xhr.response);
                    const errorMessage = errorResponse.error ? errorResponse.error.charAt(0).toUpperCase() + errorResponse.error.slice(1) + '.'
                        : 'An unknown error occurred.';
                    document.getElementById('error-card').classList.remove('hidden');
                    document.getElementById('error-message').innerText = errorMessage;
                });

                document.addEventListener('htmx:beforeSwap', function (event) {
                    if (event.detail.target.id === 'results' && event.detail.xhr.status === 200) {
                        try {
                            const data = JSON.parse(event.detail.xhr.responseText);

                            const discogsReleasesElem = document.getElementById('discogs-releases');
                            if (discogsReleasesElem) {
                                discogsReleasesElem.innerText = data.discogs_releases || 'N/A';
                            }

                            const spotifyAlbumsElem = document.getElementById('spotify-albums');
                            if (spotifyAlbumsElem) {
                                spotifyAlbumsElem.innerText = data.spotify_albums || 'N/A';
                            }

                            const playlistUrlElem = document.getElementById('playlist-url');
                            if (playlistUrlElem) {
                                playlistUrlElem.href = data.url || '#';
                                playlistUrlElem.innerText = data.url || 'N/A';
                            }

                            const playlistCardElem = document.getElementById('playlist-card');
                            if (playlistCardElem) {
                                playlistCardElem.classList.remove('hidden');
                            }

                            event.preventDefault();
                        } catch (error) {
                            console.error('Failed to process JSON response:', error);
                        }
                    }
                });
            </script>
        </div>
    </div>
</body>

</html>